@media only screen and (min-width: 992px) {
	.menu ul {
		display: block !important;
	}
}
@media only screen and (max-width: 991px) {
	.logo {
		float: left;
	}
	.mobile-menu i {
		display: block;
	}
	.menu ul {
		display: none;
	}
	.menu ul li {
		display: inherit;
	}
	.menu ul li a {
		padding: 6px 0px;
	}
	.menu {
		text-align: left;
		background: #333;
	}
	.about-me-content h4 {
		margin-top: 2px;
	}
	.about-me-content p {
		margin: 8px 0px;
	}
	.about-me-content p.content {
		font-size: 16px;
	}
	.about-social {
		margin-top: 15px;
	}
	.blog-single {
		margin-bottom: 20px;
	}
	.contact-detail {
		margin-top: 30px;
	}
	
}
@media only screen and (max-width: 867px) {
	.header_bottom_content h1 {
		font-size: 40px;
	}
	.section-headding p {
		width: 100%;
	}
}
@media only screen and (max-width: 767px) {
	.header_bottom_content h1 {
		font-size: 35px;
	}
	.header_bottom_content p {
		width: 100%;
	}
	.about_area {
		padding: 60px 0px;
	}
	.services_area {
		padding: 50px 0px;
	}
	.portfolio-area {
		padding: 50px 0px;
	}
	.our-blog{
		padding: 50px 0px;
	}
	.process-area{
		padding: 50px 0px;
	}
	.our-client{
		padding: 50px 0px;
	}
	.contact-us{
		padding: 50px 0px;
	}
	.our-client-single {
		padding: 30px 0px;
	}
	.our-client-single-content p {
		width: 90%;
	}
}
@media only screen and (max-width: 676px) {
	.header_bottom {
		padding: 130px 0px;
	}
	.header_bottom_content h1 {
		font-size: 30px;
	}
	.about_area {
		padding: 30px 0px;
	}
	.services_area {
		padding: 30px 0px;
	}
	.section-headding {
		padding-bottom: 30px;
	}
	.section-headding h2 {
		font-size: 25px;
		margin-bottom: 0px;
	}
	.portfolio-area {
		padding: 30px 0px;
	}
	.portfolio_list li {
		padding: 3px 5px;
		margin: 0px 0px;
		font-size: 12px;
		border: 2px solid #82B60B;
	}
	.our-blog{
		padding: 30px 0px;
	}
	.process-area{
		padding: 30px 0px;
	}
	.our-client{
		padding: 30px 0px;
	}
	.contact-us{
		padding: 30px 0px;
	}
	.our-client-single {
		padding: 0px 0px;
	}
	.our-client-single-content p {
		width: 100%;
	}
}
@media only screen and (max-width: 576px) {
	.services-single {
		margin-bottom: 15px;
	}
	.portfolio-item-full {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.services_full .row {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.our-client-single-content p {
		font-size: 16px;
	}
}
@media only screen and (max-width: 520px) {
	.header_bottom_content h1 {
		font-size: 25px;
	}
	.about_area {
		padding: 20px 0px;
	}
	.logo a {
		font-size: 40px;
	}
	.mobile-menu {
		margin-top: 9px;
	}
	.services-single {
		margin-bottom: 20px;
	}
	.work-process-single-right h3 {
		font-size: 20px;
		margin-bottom: 4px;
	}
}
@media only screen and (max-width: 360px) {
	.header_bottom {
		padding: 100px 0px;
	}
	.work-process-single-right p {
		font-size: 16px;
	}
	.work-process-single-left {
		overflow: hidden;
		text-align: center;
		margin: 0 auto;
		float: inherit;
	}
	.work-process-single-right {
		margin-top: 5px;
		text-align: center;
	}
}